<h1><%= t('crud.index', resource: Task.model_name.human) %></h1>
<%= link_to t('buttons.new'), new_task_path, class: "btn btn-default mt-xs-20" %>

<%= render 'sort_tasks', q: @q %>
<%= link_to t('buttons.show_all'), tasks_path, class: 'mb-xs-20 form-control btn btn-default' %>

<table class="table xs-transform mt-xs-20">
  <thead class="hidden-xs">
    <tr>
      <%= content_tag :td, t('activerecord.attributes.task.status', class: 'col-sm-1') %>
      <%= content_tag :td, t('activerecord.attributes.task.end_at', class: 'col-sm-2') %>
      <%= content_tag :td, t('activerecord.attributes.task.title', class: 'col-sm-3') %>
      <%= content_tag :td, t('activerecord.attributes.task.description', class: 'col-sm-4') %>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <%= content_tag :td, class: 'col-sm-1' do %>
        <%= content_tag :span, t("activerecord.attributes.task/statuses.#{task.status}"), class: "label #{status_label_class(task.status)}" %>
      <% end %>
      <td class="col-sm-2"><%= task.end_at.strftime('%Y-%m-%d %H:%M') %></td>
      <td class="col-sm-3"><%= task.title %></td>
      <td class="col-sm-4"><%= task.description %></td>
      <td class="col-sm-2 text-center">
        <%= link_to edit_task_path(task), class: "btn btn-default" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %> 
        <%= link_to task_path(task), method: "delete",
            data: { confirm: t('message.confirm') }, class: "btn btn-default ml-xs-5" do %>
          <i class="fa fa-trash fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>